<!DOCTYPE html>

<html>

  <head>

    <title>Build-a-Burger</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/index2.css">

  </head>

  <body>

    <main>{{content}}</main>

    <form action="https://formspree.io/paul-briand@outlook.fr" method="POST">


      <div class="burger">
         <div class="bun-top">
           <input id="one" type="text" name="firstname" placeholder="Firstname*" required>
         </div>
         <div class="cheese">
           <input id="two" type="text" name="lastname" placeholder="Lastname*" required>
         </div>
         <div class="tomato">
           <input id ="three" type="text" name="gender" placeholder="Gender">
         </div>
         <div class="cheese">
           <input id="two" type="email" name="_replyto" placeholder="Mail*" required>
      </div>
          <div class="onion">
            <textarea id="six" type="text" name="message" placeholder="objet du message" required></textarea>
          </div>
          <div class="bun-bottom">
            <input id="eight" type="submit" name="envoyer">
          </div>
            <div class="plate"></div>
            </div>

    </form>

  </body>

</html>
