<!DOCTYPE html>

<html>

  <head>

    <title>Build-a-Burger</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/index2.css">

  </head>

  <body>

    <main>{{content}}</main>

    <form action="https://formspree.io/paul-briand@outlook.fr" method="POST">


                <div class="bun-top">
                    Votre nom : <input type="text" name="name" value="">
                </div>
                <div class="tomato">
                    Objet de message : <input type="text" name="object" value="">
                </div>
                <div class="onion">
                votre mail : <input type="text" name="name" value="">
              </div>
                <div class="bun-bottom">
                    Votre message : <textarea name="message"></textarea>
                </div>
                <div class="plate">
                    <input type="submit" value="Envoyer">
                </div>

    </form>

  </body>

</html>
